<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <main class="section">
            <header>
                {{ partial "breadcrumb.html" . }}
                {{- partial "header.html" . -}}
                {{- block "header" . }}{{- end }}
            </header>
            <div>
                <div>
                    {{- block "main" . }}{{- end }}
                </div>
            </div>
            {{- partial "footer.html" . -}}
        </main>
    </body>
</html>
