<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <main class="container">
            <header>
                {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
                {{ partial "breadcrumb.html" . }}
                {{- partial "header.html" . -}}
                {{- block "header" . }}{{- end }}
            </header>
            <article>
                {{- block "main" . }}{{- end }}
            </article>
            {{- partial "footer.html" . -}}
        </main>
    </body>
</html>
